@import 'tailwindcss/components';

@layer components {
  .map-container {
    @apply relative h-[350px] w-screen bg-[#F5F2F2] md:h-[660px] lg:w-full;
    .map {
      @apply bottom-0 left-0 right-0 top-0;
      .county,
      .town,
      .village {
        @apply cursor-pointer stroke-white transition-all hover:opacity-80;
        &-active {
          @apply drop-shadow-[-2px_2px_6px_rgba(0,0,0,0.9)];
        }
      }
      .county {
        @apply stroke-[0.5px];
      }
      .town {
        @apply stroke-[0.1px];
      }
      .village {
        @apply stroke-[0.05px];
      }
    }
    .tooltip {
      @apply pointer-events-none absolute left-0 top-0 z-[1] w-fit min-w-[240px] rounded bg-white opacity-0 shadow-lg transition-opacity md:min-w-[250px];
      &-bar {
        @apply flex h-full items-center text-xs text-white transition-all duration-300 md:text-sm;
      }
      img {
        @apply w-[34px];
      }
      .invoicing-information-content {
        @apply mr-4;
      }
    }
  }
}
